:root { 
--indigo_A200_00:#605bff00; 
--purple_100:#feb9ee; 
--blue_50_75:#dbe6ff75; 
--light_blue_100:#b9edfe; 
--red_200:#fc9d9d; 
--red_201:#f59696; 
--red_202:#fa9b9b; 
--red_203:#fb9c9c; 
--white_A700_99:#ffffff99; 
--green_A700:#00b412; 
--gray_800:#3f4249; 
--indigo_A200_19:#605bff19; 
--amber_300:#ffcb4b; 
--black_900_0c:#0000000c; 
--orange_200:#ffce72; 
--blue_50:#dbe6ff; 
--blue_51:#dce6ff; 
--bluegray_601:#535783; 
--bluegray_403:#868a91; 
--bluegray_600:#63657e; 
--bluegray_402:#84888f; 
--bluegray_401:#858a8f; 
--purple_100_75:#feb9ee75; 
--bluegray_400:#8589ae; 
--indigo_A200_0c:#605bff0c; 
--bluegray_200:#b1b5ba; 
--blue_102:#bdd0fb; 
--blue_100:#d3d3ff; 
--white_A700:#ffffff; 
--indigo_600:#3946ab; 
--deep_orange_50:#ffe3de; 
--gray_51:#f8f8ff; 
--blue_A103:#83bcff; 
--indigo_A201:#605bff; 
--indigo_A200:#4d61fc; 
--blue_A100:#91b3fa; 
--gray_50:#f7f9ff; 
--green_400:#5cd268; 
--gray_300_33:#dddddd33; 
--pink_A200:#ff3878; 
--black_900:#000000; 
--deep_orange_400:#ff715b; 
--gray_700:#61656d; 
--gray_103:#f0f0ff; 
--bluegray_900_99:#090f4e99; 
--blue_800:#0049c6; 
--indigo_50:#e8e7ff; 
--blue_600:#3b8bd5; 
--gray_900:#21252b; 
--gray_101:#f4f3ff; 
--deep_purple_A200_7f:#8f4bff7f; 
--gray_102:#f4f4f4; 
--gray_300:#dcdcdc; 
--gray_100:#f3f3f3; 
--bluegray_900:#090f4e; 
--indigo_500_99:#293fcc99; 
--black_900_35:#00000035; 
--indigo_500:#293fcc; 
--bluegray_901:#333333; 
}